* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #f0f4f8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px
}

form {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #1f3c88;
}

div {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #1f3c88;
}

input {
    width: calc(33% - 10px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: 0.3s;
}

input:focus {
    border-color: #1f3c88;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #1f3c88;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #16306b;
}

#resultado {
    margin-top: 30px;
    padding: 20px;
    background: #e6f0ff;
    border-radius: 10px;
}

#resultado h2 {
    color: #1f3c88;
    margin-bottom: 15px;
}

#resultado p {
    margin-bottom: 8px;
}

#mejorOpcion {
    padding: 20px
}